<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Oct 2021 
     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how osmote.
     If no one does, seek external assistance.
     PROTIP: Revisit code from intro if you have it.
     Peruse this code together and discuss how it should work, in conjunction with the back end apparatus.
    
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>
    <h2>BlueGreen (Edwin Zheng, Shriya Anand, Zhaoyu Lin)</h2>
    <br>
    <p>request_method : {{response}}</p>
        <br>
    <p>Username : {{request_method}}</p>
    <br>
    <P>{{greet}}</P>
  </body>

</html>